<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <div class="container" style="display:flex;flex-direction: row;">

        <div class="section">

        <div class="card booking-card mt-2 mb-4">

            <div class="view overlay">
              <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
              alt="Card image cap" style="width:'200px';height:'140px'" />
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            
            <div class="card-body">
            
              <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
              <ul class="list-unstyled list-inline rating">
                <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
              </ul>
              <p class="card-text">{post.description}</p>
            
            </div>
            </div>

            <div class="card booking-card mt-2 mb-4">

                <div class="view overlay">
                  <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
                  alt="Card image cap" style="width:'200px';height:'140px'" />
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                
                <div class="card-body">
                
                  <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
                  <ul class="list-unstyled list-inline rating">
                    <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
                  </ul>
                  <p class="card-text">{post.description}</p>
                
                </div>
                </div>

                <div class="card booking-card mt-2 mb-4">

                    <div class="view overlay">
                      <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
                      alt="Card image cap" style="width:'200px';height:'140px'" />
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    
                    <div class="card-body">
                    
                      <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
                      <ul class="list-unstyled list-inline rating">
                        <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                        <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
                      </ul>
                      <p class="card-text">{post.description}</p>
                    
                    </div>
                    </div>
        </div>

        <div class="section">
            
                    <div class="card booking-card mt-2 mb-4">

                        <div class="view overlay">
                          <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
                          alt="Card image cap" style="width:'200px';height:'140px'" />
                          <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        
                        <div class="card-body">
                        
                          <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
                          <ul class="list-unstyled list-inline rating">
                            <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                            <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
                          </ul>
                          <p class="card-text">{post.description}</p>
                        
                        </div>
                        </div>


                        <div class="card booking-card mt-2 mb-4">

                            <div class="view overlay">
                              <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
                              alt="Card image cap" style="width:'200px';height:'140px'" />
                              <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                            
                            <div class="card-body">
                            
                              <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
                              <ul class="list-unstyled list-inline rating">
                                <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                                <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
                              </ul>
                              <p class="card-text">{post.description}</p>
                            
                            </div>
                            </div>

                            <div class="card booking-card mt-2 mb-4">

                                <div class="view overlay">
                                  <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
                                  alt="Card image cap" style="width:'200px';height:'140px'" />
                                  <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                                
                                <div class="card-body">
                                
                                  <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
                                  <ul class="list-unstyled list-inline rating">
                                    <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                                    <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
                                  </ul>
                                  <p class="card-text">{post.description}</p>
                                
                                </div>
                                </div>

        </div>
    
        <div class="section">
            

                                <div class="card booking-card mt-2 mb-4">

                                    <div class="view overlay">
                                      <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
                                      alt="Card image cap" style="width:'200px';height:'140px'" />
                                      <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                      </a>
                                    </div>
                                    
                                    <div class="card-body">
                                    
                                      <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
                                      <ul class="list-unstyled list-inline rating">
                                        <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                                        <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
                                      </ul>
                                      <p class="card-text">{post.description}</p>
                                    
                                    </div>
                                    </div>

                                    <div class="card booking-card mt-2 mb-4">

                                        <div class="view overlay">
                                          <img class="card-img-top" src="https://s.france24.com/media/display/2b0654bc-3c59-11ea-8547-005056a98db9/w:1240/p:16x9/08617755df20ee27e7e21f6209e8bef8cccd8399.jpg" 
                                          alt="Card image cap" style="width:'200px';height:'140px'" />
                                          <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                          </a>
                                        </div>
                                        
                                        <div class="card-body">
                                        
                                          <h4 class="card-title font-weight-bold"><a>{post.title}</a></h4>
                                          <ul class="list-unstyled list-inline rating">
                                            <li class="list-inline-item mr-0"><i class="fa fa-star"> </i></li>
                                            <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item mr-0"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-half-alt"></i></li>
                                          </ul>
                                          <p class="card-text">{post.description}</p>
                                        
                                        </div>
                                        </div>

                                        </div>

                                
    </div>

</body>
</html>
